# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
fours_list = [1522, 3456, 6748, 9739, 9460, 1689, 4498]
count = 0
for number in fours_list:
    digits = [int(digit) for digit in str(number)]
    for digit in digits:
        if digit == 4:
            count += 1
print(count)

5

### write a  function to check whether a number is divisible by another number.

In [2]:
def is_divisible(x,y):
    return x % y == 0

print(f"Is 8 divisible by 2? {is_divisible(8,2)}\nIs 7 divisible by 3? {is_divisible(7,3)}")

Is 8 divisible by 2? True
Is 7 divisible by 3? False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [3]:
def minMax (numbers):
    return [min(numbers), max(numbers)]

In [4]:
numbers = "1 2 3 4"
# numbers = input("Please enter a sequence of numbers sparated by spaces: ")
print(f"Min: {minMax(numbers.split())[0]}\nMax: {minMax(numbers.split())[1]}")

Min: 1
Max: 4

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [3]:
import math
def get_factorial(a):
    pass

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [5]:
def in_range(a):
    return a in range(3,12)

In [8]:
print(in_range(11))

True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [10]:
def get_mult_table(a):
    table = list(range(1,11))
    for ind, entry in enumerate(table):
        table[ind] = entry * a
    return table

In [11]:
print(get_mult_table(2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
            return min(a,b)
    return max(a,b)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(word):
    return word.split(" ")[0][0] == word.split(" ")[1][0]

In [14]:
print(f"animal_crackers('Levelheaded Llama') --> {animal_crackers('Levelheaded Llama')}\nanimal_crackers('Crazy Kangaroo') --> {animal_crackers('Crazy Kangaroo')}")

animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [1]:
def makes_twenty(a,b):
    return a+b == 20 or a == 20 or b == 20

In [2]:
print(f"makes_twenty(20,10) --> {makes_twenty(20,10)}\nmakes_twenty(12,8) --> {makes_twenty(12,8)}\nmakes_twenty(2,3) --> {makes_twenty(2,3)}")

makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [15]:
def almost_there(a):
    return a in range(90,111) or a in range(190, 211)

In [16]:
print(f"almost_there(90) --> {almost_there(90)}\nalmost_there(104) --> {almost_there(104)}\nalmost_there(150) --> {almost_there(150)}\nalmost_there(209) --> {almost_there(209)}")

almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [21]:
def my_sum(a,b,c):
    return a + b + c

def blackjack(a,b,c):
    if my_sum(a,b,c) <= 21:
        return my_sum(a,b,c)
    if my_sum(a,b,c) > 21 and 11 in [a,b,c]:
        return my_sum(a,b,c) - 10
    return "BUST"

In [22]:
print(f"blackjack(5,6,7) --> {blackjack(5,6,7)}\nblackjack(9,9,9) --> {blackjack(9,9,9)}\nblackjack(9,9,11) --> {blackjack(9,9,11)}")

blackjack(5,6,7) --> 18
blackjack(9,9,9) --> BUST
blackjack(9,9,11) --> 19